@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Rye&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* height: 100vh; */
    background-image: linear-gradient(to right, #fff7c8 0%, #fa709a 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    font-family: "Noticia Text", serif;
  }
  
  .borders {
    transition: max-height 2.5s ease-in-out;
  }
  
  img {

    /* height: 40vh; */
    width: 70vh;
    padding: 20px;
  }
  h1.country{
    font-size: 12vh;
    font-family: "Rye", serif;
  }

  h1{
    font-size: 3vh;
    font-family: "Noticia Text", serif;
    /* color: ; */
  }

  
  button {
    width: 65vh;
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    background: rgb(255, 90, 123);
    cursor: pointer;
    border: none;
    color: #fff;
    font-weight: bold;
  }

  button:hover {
    border: 1px solid rgb(136, 65, 79);
  }