@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    /* justify-self: unset;clear:; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(36,36,36);
    color: #fff;
    font-family: sans-serif;
    /* transition: 0.7s ease; */
}

.accordion-card{
    margin: 20px;
    padding: 20px;
    background-color: rgb(73,73,73);
}

.header{
    display: flex;
    justify-content: space-between;
    width: 40rem;

}

.card-title{
    display: flex;
    justify-content: space-between;
    width: 50rem;

}

.icon{
    font-size: 1.5rem;
    cursor: pointer;
}


p.card-info {
    width: 30rem;
    padding: 20px 0;
    line-height: 1.3rem;
}






